@using AngularBlazor.UI.Shared

<h2>@hero.Name.ToUpper() Details</h2>
<div><span>Id: </span> @hero.Id</div>
<div>
    <label>
        Name:
        <input type="text" bind="@hero.Name" />
    </label>
</div>

@functions {
    [Parameter]
    Hero hero { get; set; }
}
