@using AngularBlazor.UI.Shared
@using AngularBlazor.UI.Client.Services
@inject MessagesService messageService
@inject HttpClient Http

@if (heroList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>My Heroes</h2>
    <ul class="heroes">
        @foreach (var hero in heroList)
        {
            <li class="@(hero == selectedHero ? "selected" : "")" onclick=@(() => OnSelect(hero))>
                <span class="badge">@hero.Id</span> @hero.Name
            </li>
        }
    </ul>
    if (selectedHero != null)
    {
        <HeroView Hero="@selectedHero" />
    }
}


@functions {

    Hero selectedHero;

    Hero[] heroList;

    protected override async Task OnInitAsync()
    {
        messageService.Add("Hero Service: fetched heroes");
        heroList = await Http.GetJsonAsync<Hero[]>("api/Hero");
    }

    void OnSelect(Hero hero)
    {
        selectedHero = hero;
    }

}
