@inherits BlazorLayoutComponent

<div class="main">
    <h1>@title</h1>
    <nav>
        <a href="/heroes">Heroes</a>
        <a href="/">Dashboard</a>
        <a href="/jsinterop">JS Interop</a>
    </nav>
    @Body
    <Messages />
</div>

@functions {

    string title = "Tour of Heroes";

}

