@using AngularBlazor.UI.Shared
@using AngularBlazor.UI.Client.Services
@inject HeroService HeroService


<div id="hero-search">
    <h4>Hero Search</h4>
    <input id="search-box" bind="@searchString" />
    <button class="btn btn-search" onclick="@Search">Search</button>
    <ul>
        @foreach (var hero in Heroes)
        {
            <li>
                <a href="/detail/@hero.Id">
                    @hero.Name
                </a>
            </li>
        }
    </ul>

</div>

@functions{

    [Parameter]
    private IReadOnlyList<Hero> HeroList { get; set; }

    private string searchString;

    private IEnumerable<Hero> Heroes
    {
        get
        {
            return string.IsNullOrEmpty(this.searchString)
                ? new List<Hero>()
                : this.HeroList.Where(h => h.Name.ToLower().Contains(this.searchString.ToLower()));
        }
    }

    protected override async Task OnInitAsync()
    {
        if (this.HeroList == null)
            this.HeroList = await this.HeroService.Get();
    }

    private void Search()
    {
        this.StateHasChanged();
    }

}
