@using AngularBlazor.UI.Client.Services
@inject MessagesService MessageService

@if (List.Any())
{
    <div class="messages">
        <h2>Messages</h2>
        <button class="clear" onclick="@Clear">clear</button>
        @foreach (var message in List)
        {
            <div>@message</div>
        }
    </div>
}

@functions {

    IReadOnlyList<string> List;

    protected override void OnInit()
    {
        this.List = MessageService.Messages;
        MessageService.OnChange += this.StateHasChanged;
    }

    private void Clear()
    {
        this.MessageService.Clear();
    }

}
