@page "/heroes"
@using AngularBlazor.UI.Shared
@using AngularBlazor.UI.Client.Services
@inject HeroService HeroService

<div class="heroes">
    @if (heroList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h2>My Heroes</h2>
        <ul class="heroList">
            @foreach (var hero in heroList)
            {
                <li>
                    <a href="/detail/@hero.Id">
                        <span class="badge">@hero.Id</span> @hero.Name
                    </a>
                </li>
            }
        </ul>
    }
</div>

@functions {

    Hero selectedHero;

    IReadOnlyList<Hero> heroList;
     
    protected override async Task OnInitAsync()
    {
        heroList = await this.HeroService.Get();
    }

    protected override void OnInit()
    {
        HeroService.OnChange += StateChange;
    }

    void OnSelect(Hero hero)
    {
        selectedHero = hero;
    }

    private void StateChange()
    {
        this.StateHasChanged();
    }

}
