@page "/heroes"
@using AngularBlazor.UI.Shared
@using AngularBlazor.UI.Client.Services
@inject HeroService HeroService
@inject HttpClient Http

@if (heroList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>My Heroes</h2>
    <ul class="heroes">
        @foreach (var hero in heroList)
        {
            <li class="@(hero == selectedHero ? "selected" : "")" onclick=@(() => OnSelect(hero))>
                <span class="badge">@hero.Id</span> @hero.Name
            </li>
        }
    </ul>
    if (selectedHero != null)
    {
        <HeroView Hero="@selectedHero" />
    }
}


@functions {

    Hero selectedHero;

    IReadOnlyList<Hero> heroList;
     
    protected override async Task OnInitAsync()
    {
        heroList = await this.HeroService.Get();
    }

    protected override void OnInit()
    {
        HeroService.OnChange += StateChange;
    }

    void OnSelect(Hero hero)
    {
        selectedHero = hero;
    }

    private void StateChange()
    {
        this.StateHasChanged();
    }

}
