@page "/"
@using AngularBlazor.UI.Client.Services
@inject MessagesService messageService

<h1>@title</h1>

<Heroes />
<Messages /> @*List="messageService.Messages" />*@

@functions {

string title = "Tour of Heroes";

}
